@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pomoc";
}

<div class="text-center support">
    <h1 class="display-4">Witaj w Panelu pomocy!</h1>
    <p>Jeśli masz jakieś uwagi dotyczące działania aplikacji Budget Manager poinformuj nas o tym za pomocą adresu mailowego: BMadmin@gmail.com</p>
</div>

